* {
    box-sizing: border-box;
}

html {
    width: 50%;
    margin: auto;
    min-width: 500px;
}

#wrapper {
    border: 20px solid transparent;
    -webkit-border-image: url(/frame.png) 50 stretch;  /*Safari 3.1-5*/ 
    -o-border-image: url(/frame.png) 50 stretch;  /*Opera 11-12.1*/
    border-image: url(/frame.png) 50 stretch;
    behavior: url(/PIE.htc);
}
#body {
    /*background-image: url(back.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    border-radius: 20px;
    background: #f1f1f1;
}


#header {
    position: relative;
    border-radius: 10px;
}

#header img {
    position: absolute;
    top: 0px;
    right: 15px;
    transform: rotate(355deg);
    -ms-transform: rotate(355deg);
    -sand-transform: rotate(355deg);
    width: 25%;
    height: 400%;
    border-radius: 15px;
}

#header img:hover {
      width: 45%;
      height: 600%;
    /*display: block;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*padding-left: 100px;*/
    /*background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png) no-repeat;*/
      transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -sand-transform: rotate(15deg);
    
}

#header h1 {
    margin-bottom: 0px;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    font-family: sans-serif;
}

.deets {
    padding-left:10px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #00ff00;
    font-weight: bold;
    font-size: 22px;
}

#major {
    font-size: 12px;
}

#about{
    max-width: 70%;
    padding-left: 10px;
}

.row {
	/*border: 1px solid #000000;*/
	overflow: hidden;
	width: 100%;
	margin-top: 20px;
}

.subject {
	width: 38%;
	float: left;
	text-align: right;
	
}

.subject p {
    margin-top: 0px;
    font-family: sans-serif;
    font-style: italic;
}

.information {
	width: 60%;
	float: right;
	border-left: 2px solid #cfcfcf;
	padding-left: 20px;
}

.information p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
}

.one{
    float: left;
    width: 40%;
    font-family: serif;
    font-size: 14px;
}

.two {
    float: right;
    width: 40%;
    font-family: serif;
    font-size: 14px;
}

.validator {
    width: 100px;
    margin: 10px auto;
}